.chart-container .current-date {
    font-size: 45px;
    fill: #698fba;
    text-anchor: end;
  }
  
  button {
    border-color: rgb(238, 238, 243);
    color: #fff;
    box-shadow: 0 0 40px 40px rgb(101, 101, 114) inset, 0 0 0 0 rgb(125, 125, 140);
    transition: all 150ms ease-in-out;
  
    
  }
  button:hover {
    box-shadow: 0 0 10px 0 rgb(120, 120, 185) inset, 0 0 10px 4px rgb(80, 122, 140);
  }