.chart-container .current-date {
    font-size: 20px;
    fill: #42a447;
    text-anchor: end;
  }
  
  button {
    border-color: rgb(238, 238, 243);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 40px 40px rgb(101, 101, 114) inset, 0 0 0 0 rgb(125, 125, 140);
    transition: all 150ms ease-in-out;
    width: 5rem;
    height: 2rem;
    background-color: beige;
  
    
  }
  button:hover {
    box-shadow: 0 0 10px 0 rgb(58, 58, 113) inset, 0 0 10px 4px rgb(160, 184, 195);
  }